* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0d1b2a;
}

.container {
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255,255,255,0.08);
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    color: white;
    text-align: center;
}

.container h1 {
    margin-bottom: 10px;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.15);
    color: white;
}

input::placeholder {
    color: rgb(204, 204, 204);
}

button {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: rgb(76, 201, 240);
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
}

ul {
    list-style: none;
    margin-top: 15px;
}

li {
    background: rgba(255,255,255,0.1);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-text.completed {
    text-decoration: line-through;
    opacity: 0.6;
    color: rgb(144, 238, 144);
}

.task-buttons button {
    margin-left: 5px;
    padding: 5px 8px;
    font-size: 12px;
}

.done-btn {
    background: rgb(56, 176, 0);
    color: white;
}

.remove-btn {
    background: rgb(208, 0, 0);
    color: white;
}
